<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin - ToyStore</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>🧸 ToyStore</h2>
    <a href="/">🏠 Home</a>
    <a href="/catalogo">🛒 Catálogo</a>
    <a th:if="${session.usuarioLogado != null and session.usuarioLogado.tipo == 'FUNCIONARIO'}" href="/admin" class="active">⚙️ Administração</a>
    <a href="/sobre">👥 Sobre</a>

	<!-- LOGIN / USUÁRIO -->
	<div class="login-separator"></div>

	<div th:if="${session.usuarioLogado == null}">
	    <a href="/login" class="login-item">
	        🔐 Fazer login
	    </a>
	</div>

	<div th:if="${session.usuarioLogado != null}" class="login-item user-logado">
	    <div style="display:flex; flex-direction:column; gap:6px; width:100%;">
			<a href="/perfil" class="user-link">
			    👋 <span th:text="${session.usuarioLogado.nome}">Usuário</span>
			</a>
	        <span style="font-size:12px; opacity:0.9;">Bem-vindo de volta</span>
	        <a href="/logout" style="margin-top:8px; text-align:center; background:#ef4444; color:white; padding:6px; border-radius:8px; font-size:13px;">Sair</a>
	    </div>
	</div>
</div>

<!-- MAIN -->
<div class="main">

    <!-- HEADER -->
    <div class="header">
        <h1>Painel Administrativo</h1>
    </div>

    <!-- CONTEÚDO -->
    <div class="container">

        <!-- BOTÃO NOVO -->
        <button class="btn-novo" onclick="location.href='/admin/novo'">
            + Novo Produto
        </button>

        <!-- TABELA -->
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>

			<tbody>

			    <tr th:each="p : ${produtos}">
			        <td th:text="${p.descricao}"></td>
			        <td th:text="${p.categoria}"></td>
			        <td th:text="'R$ ' + ${p.valor}"></td>
			        <td>

			            <button class="btn editar"
			                th:onclick="'location.href=\'/admin/editar/' + ${p.id} + '\''">
			                Editar
			            </button>

			            <a class="btn excluir"
			               th:href="@{/admin/excluir/{id}(id=${p.id})}">
			                Excluir
			            </a>

			        </td>
			    </tr>

			</tbody>
        </table>

    </div>

</div>

</body>
</html>